body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background:#daa76c;
  }
  h2{
    color:#1889b2;
  }
  .b{
    text-align: center;
    
  }
  
  header {
    background: #1889b2;
    color: #daa76c;
    padding: 1em 0;
    text-align: center;
  }
  
  nav ul {
    list-style: none;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
    margin: 0 10px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
  }
  
  section {
    padding: 20px;
    margin: 20px;
  }
  
  #contactForm label {
    display: block;
    margin: 10px 0 5px;
  }
  
  #contactForm input, #contactForm textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  #contactForm button {
    width:140px;
    padding: 10px;
    color:#daa76c;
    background-color:#1889b2; 
    border:none;
    font-weight: bold;
  } 
  
  
  